@import url(index.css);


body{
    background-image:url(../img/background.png);
}

#main-header{
    background-color: rgb(255, 255, 255);

    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 0 0 20px 20px ;
}

header .text-header{
    font-size: 2em;
    color: black;
    
}

.text{
    font-family: 'Itim';
    color: rgb(255, 255, 255);
    line-height:1.9em;
    text-align: center;
    width: 75vw;
}

.box{
    width: 100vw;
    height: 19vh;
    /* background-color: blue; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-separation{
    width: 100vw;
    height: 10vh;
    
}

main .text h1{
    font-family: 'Itim';
    color: rgb(255, 255, 255);
    line-height:1.9em;
    text-align: center;
}

main .box-text1 h1{
    
    font-size: 3em;
   min-height: 30%;
   /* background-color: purple; */
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
   margin-top: 10px;
}

main .box-text1 p{
    min-height: auto;
    max-height: auto;
    width: 85%;
    margin-bottom: 10px;
    margin-top: 5px;
    /* background-color: red; */

    font-size: 1.9em;
}
/* 
main .box-text1 p:last-child{
    background-color: purple;
} */

main .main-btn{
    width: 100vw;
    height: 8vh;
    margin-bottom: 5%;
    /* background-color: wheat; */
    

    display: flex;
    justify-content: center;
}

main .main-btn button{
    color:  black;
    font-family: 'Itim';
    line-height:1em;
    text-align: center;
    font-size: 1.7em;
    height: 100%;
    width: 60%;
    border-radius: 15px;
    
}

main .main-info{
    background-color: rgba(12, 57, 0, 0.7);
    border-radius: 25px;
    width: 75vw;
    
    left: 50%;
    top: 50%;
    transform: translate(17%, 0%);

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    margin-top: 3vh;
}

main .main-info .text p{
    color: rgb(255, 255, 255);
    font-size: 1.9em;
    padding: 5%;
    
}

main .main-info .text h1{
    color: #F2E711;
    font-size: 1.9em;
    padding: 5%;
    
}



main .main-info img{
    padding-top: 10%;
    
}