@font-face {
    font-family: 'Itim';
    src: url('../font/Itim-Regular.woff');
}

*{margin: 0; padding: 0;}

body{
    background-image:url(../img/background.png);
    background-size: 110%;
  
    background-position: fixed;
    position: relative;
    overflow-x: hidden;
}

button{
cursor: pointer;
transition: .2s linear;
}

button:hover{
transform: translateY(-3px);
transition: .2s linear;
}

button:active{
transform: translateY(5px);
transition: .2s linear;
}


    /* Para navegadores WebKit: Chrome, Safari, Edge */
    ::-webkit-scrollbar {
        width: 12px; /* Largura da barra vertical */
      }
  
      ::-webkit-scrollbar-track {
        background: #f0f0f0; /* Fundo da barra */
      }
  
      ::-webkit-scrollbar-thumb {
        background-color: #888; /* Cor da barra de scroll */
        border-radius: 6px; /* Arredondamento */
        border: 3px solid #f0f0f0; /* Espaçamento entre o thumb e a track */
      }
  
      ::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Cor ao passar o mouse */
      }



#main-header{
    background-color: white;

    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 0 0 20px 20px ;
}

header .text-header{
    font-size: 2em;
    color: black;
}

.botao-hamb{
    background-color: rgba(255, 255, 255, 0);
    /* border: none; */
}


#check{
display: none;
}

.labelbtn{
    width: 25px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:  column;
    cursor: pointer;
    transition: .2s linear;
    /* background-color: green; */
}

.line-menu{
    width: 24px;
    height: 2px;
    background-color: black;
    border-radius: 1px;
    transition: .2s linear;
}

.nav-mobile{
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    border-radius: 10px;
    width: 30vw;
    height: 20vh;
    transition: .2s linear;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    
    
}

@keyframes slide-in{
    0%{
        transform: translatey(-100%);
        transition: 1s linear;
        opacity: 0;
    }
    100%{transform: translatey(0%);
        transition: 1s linear;
        opacity: 1;
    }
}


#check:checked ~ .nav-mobile{
    display: flex;
    transition: .2s linear;
    animation: slide-in 1s linear;
} 

#check:checked ~ .labelbtn .line-menu:nth-child(1) {
    transform: translateY(3px) rotate(45deg); /* Primeira linha vira parte do X */
    transition: .2s linear;
}

#check:checked ~ .labelbtn .line-menu:nth-child(2){
    display: none;
    transition: .2s linear;
    
}
#check:checked ~ .labelbtn .line-menu:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg); /* Terceira linha vira parte do X */
    transition: .2s linear;
}
#check:checked ~ .labelbtn .line-menu{
    transform: rotate(10px)
}

#check:checked ~ .labelbtn{
    transition: .2s linear;
}

.nav-mobile a{
    font-family: 'Itim';
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-mobile a p{
    text-align: center;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbtn{
    font-size: 1em;
    color: black;
    cursor: pointer;
}

.nav-mobile img{
    min-width: 7vw;
    max-width: 7vw;
    /* background-color: red; */
    height: auto;
    object-fit: contain;
    object-position: center;
}