@import url(index.css);


body{
    background-image:url(../img/background.png);
}

#main-header{
    background-color: white;

    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 0 0 20px 20px ;
}

header .text-header{
    font-size: 2em;
    color: black;
}

.text{
    font-family: 'Itim';
    color: white;
    line-height:1.9em;
    text-align: center;
}

.box, main .img-belinha{
    width: 100vw;
    height: 25vh;
    /* background-color: blue; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-separation{
    width: 100vw;
    height: 10vh;
}

main .box-text1 h1{

    font-size: 4em;
    height: 30%;
}

main .box-text1 p{
    height: auto;
    min-width: 80%;
    margin-top: 2vh;

    font-size: 1.9em;
}

main .main-btn{
    width: 100vw;
    height: 10vh;
    /* background-color: blue; */
    margin-top: 2vh;

    display: flex;
    justify-content: center;
}

main .main-btn button{
    color:  black;
    font-family: 'Itim';
    line-height:1.9em;
    text-align: center;
    font-size: 2em;
    height: 10vh;
    width: 55vw;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s linear;
}

button.start:hover{
    transform: translateY(-3px);
    transition: .2s linear;
}

button.start:active{
    transform: translateY(5px);
    transition: .2s linear;
}